/* || Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

:root {
  --black: #000;
  --gold-400: #e9aa52;
  --grey-300: #c5c6ce;
  --grey-200: #d8d8d8;
  --navy-950: #00001a;
  --navy-600: #5e607a;
  --overlay: rgba(94, 96, 122, 0.6);
  --red-500: #f15d51;
  --white: #fff;
  --text-preset-1-fs: 3.5rem;
  --text-preset-1-fw: 800;
  --text-preset-1-lh: 3.5rem;
  --text-preset-2-fs: 2.5rem;
  --text-preset-2-fw: 800;
  --text-preset-2-lh: 2.5rem;
  --text-preset-3-fs: 2rem;
  --text-preset-3-fw: 700;
  --text-preset-3-lh: 2rem;
  --text-preset-4-fs: 1.25rem;
  --text-preset-4-fw: 800;
  --text-preset-4-lh: 1.5rem;
  --text-preset-5-fs: 1.125rem;
  --text-preset-5-fw: 800;
  --text-preset-5-lh: 1.5rem;
  --text-preset-6-fs: 0.9375rem;
  --text-preset-6-fw: 400;
  --text-preset-6-lh: 1.625rem;
  --text-preset-7-fs: 0.875rem;
  --text-preset-7-fw: 700;
  --text-preset-7-lh: 1.5rem;
  --text-preset-7-ls: 0.2737rem;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v20-latin-regular.woff2') format('woff2');
  font-family: 'Inter';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v20-latin-700.woff2') format('woff2');
  font-family: 'Inter';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-v20-latin-800.woff2') format('woff2');
  font-family: 'Inter';
  font-display: swap;
}
/* End */

/* || Main Styles */

body {
  position: relative;
  padding: 2.5rem 1.5rem 5rem 1.5rem;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.menu-overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 80;
  transition: opacity 0.5s ease-in-out;
  inset: 0;
  background-color: var(--overlay);
  pointer-events: none;
}

.overlay-show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

/* Typography */

.nav-list li a,
.nav-list-mobile li a {
  transition: color 0.1s ease-in-out;
  color: var(--navy-600);
  font-weight: var(--text-preset-6-fw);
  font-size: var(--text-preset-6-fs);
  line-height: var(--text-preset-6-lh);
  text-decoration: none;
}

.nav-list li a:hover,
.nav-list-mobile li a:hover {
  color: var(--red-500);
}
.nav-list li a:active,
.nav-list-mobile li a:active {
  transition: color none;
  color: var(--black);
}

h1,
.article-text {
  margin-block-end: 1.5rem;
}

h1 {
  color: var(--navy-950);
  font-weight: var(--text-preset-2-fw);
  font-size: var(--text-preset-2-fs);
  line-height: var(--text-preset-2-lh);
}

.article-text {
  font-weight: var(--text-preset-6-fw);
  font-size: var(--text-preset-6-fs);
  line-height: var(--text-preset-6-lh);
}

h2 {
  margin-block-end: 2rem;
  color: var(--gold-400);
  font-weight: var(--text-preset-3-fw);
  font-size: var(--text-preset-3-fs);
  line-height: var(--text-preset-3-lh);
}

h3 {
  margin-block-end: 0.5rem;
  color: var(--white);
  font-weight: var(--text-preset-4-fw);
  font-size: var(--text-preset-4-fs);
  line-height: var(--text-preset-4-lh);
}

.feature-text {
  color: var(--grey-300);
  font-weight: var(--text-preset-6-fw);
  font-size: var(--text-preset-6-fs);
  line-height: var(--text-preset-6-lh);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.number {
  color: var(--red-500);
  font-weight: var(--text-preset-3-fw);
  font-size: var(--text-preset-3-fs);
  line-height: var(--text-preset-3-lh);
}

h4 {
  color: var(--navy-950);
  font-weight: var(--text-preset-5-fw);
  font-size: var(--text-preset-5-fs);
  line-height: var(--text-preset-5-lh);
}

.item-text {
  color: var(--navy-600);
  font-weight: var(--text-preset-6-fw);
  font-size: var(--text-preset-6-fs);
  line-height: var(--text-preset-6-lh);
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2rem;
}

.img-logo {
  width: 2.8112rem;
  height: 1.75rem;
}

.icn-menu-open {
  display: block;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 2.5rem;
  height: 1.0625rem;
}

.icn-menu-open-hide {
  opacity: 0;
}

.nav-desktop {
  display: none;
}

.nav-list {
  display: flex;
  gap: 2.5rem;
}

.nav-list li {
  list-style: none;
}

.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  visibility: hidden;
  z-index: 99;
  transition: transform 0.2s ease-in-out, visibility 0.2s;
  background-color: var(--white);
  padding: 1.6875rem 1.3125rem;
  width: 16rem;
  height: 100vh;
  pointer-events: none;
}

.nav-mobile-show {
  transform: translateX(0%);
  visibility: visible;
  pointer-events: auto;
}

.menu-close-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-block-end: 5.5rem;
  width: 100%;
}

.icn-menu-close {
  align-self: end;
  width: 1.9006rem;
  height: auto;
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nav-list-mobile li {
  list-style: none;
}

/* Article */

.article {
  margin-block-end: 3rem;
}

.img-article-wrapper {
  margin-block-end: 1.5rem;
  background-image: url(./assets/images/image-web-3-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 18.75rem;
}

.read-more-btn {
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  background-color: var(--red-500);
  width: 11.5625rem;
  height: 3rem;
  font-weight: var(--text-preset-7-fw);
  font-size: var(--text-preset-7-fs);
  line-height: var(--text-preset-7-lh);
  letter-spacing: var(--text-preset-7-ls);
}

.read-more-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

/* Features */

.features {
  margin-block-end: 3rem;
}

.features-container {
  background-color: var(--navy-950);
  padding: 1.5rem;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* More Features */

.article-item {
  display: flex;
  gap: 1.5rem;
}

.article-img {
  width: 6.25rem;
  height: 8.0625rem;
}

.articles-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* || End */

/* || Media Queries */

@media screen and (min-width: 51.25rem) {
  body {
    padding: 2.5rem 6rem;
  }

  .nav-mobile {
    width: 19.5rem;
  }
}

@media screen and (min-width: 90rem) {
  body {
    padding: 4rem 8rem;
  }

  .nav-desktop {
    display: block;
  }
  .icn-menu-open {
    display: none;
  }
}

/* || End */
